
.SquadBody{
background: no-repeat center;
min-height:500px;
opacity: 0.4;
}

#nav{
width:31%;

}

.SquadBody{
float:left;
width:40%;
margin:auto;
}

.FCSchalke04{
background-image: url('../img/FCSchalke04.jpg');

}

#Bremen{
}
