.clear{
clear:both;

}
.panel-default{
display:none;
}

.matches{
text-align:center;
width:80%;
margin:auto;
display:none;
}


.SquadBody{
/*background: no-repeat top;
min-height:500px;
background-size:323px 323px;
opacity: 0.2;*/


text-align:center;
/*width:30%;*/
margin:auto;


}

.goalsNumber{
color: gray;


}

.goalsNumber a{
color: #606264;
font-size:0.4em;

}

.goal {
float:left;
width:24%;

}

.goal img{

width:80%;

}



.secondtime {
color: black;
}

.goalsMinuts{display:none;}


.row{
margin: 30px auto;
}


/*right side*/

#content{

	background-color:#f5f5f5;
	border:1px solid #ddd;
	border-radius:5px;
	text-align:center;
}



#content div div{
	width: 80%;
	margin: 2% auto;
	background: white;
	border-radius: 5px;


}


#matchResult, #squads{
text-align:center;

}

#matchResult span {
padding: 5px;
background: #fff;
border-radius: 5px;
}




