.clear{
clear:both;

}


.matches{
text-align:center;
width:80%;
margin:auto;
display:none;
}


.SquadBody{
background: no-repeat top;
min-height:500px;
background-size:323px 323px;
/*opacity: 0.2;*/

float:left;
text-align:center;
width:30%;
margin:auto;


}

.goalsNumber{
color: red;
font-size:700%;

}

.goal {
float:left;
width:24%;

}

.goal img{

width:80%;

}


.FCSchalke04{
background-image: url('../img/FCSchalke04.png');


}

.Bayer04Leverkusen{
background-image: url('../img/Bayer04Leverkusen.png');
}

#Bremen{
}
